@import url('https://fonts.googleapis.com/css?family=Oswald|Poiret+One|Muli|Pacifico');
body .btn-dstyle {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-dstyle i {
  color: #666;
}
body .btn-dstyle span {
  font-family: 'Oswald', sans-serif;
}
body .btn-dstyle.btn-fixed,
body .btn-dstyle:hover {
  border-top: 1px solid #d9534f;
  border-right: 1px dashed #333;
  border-bottom: 1px dashed #333;
  border-left: 1px dashed #333;
}
body .btn-dstyle.btn-fixed i,
body .btn-dstyle:hover i {
  color: #333;
}
body .btn-dstyle.btn-fixed span,
body .btn-dstyle:hover span {
  color: #333;
}
body .btn-papers {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-papers i {
  color: #666;
}
body .btn-papers span {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}
body .btn-papers.btn-fixed,
body .btn-papers:hover {
  background: #333;
  border: 1px solid #adadad;
}
body .btn-papers.btn-fixed i,
body .btn-papers:hover i {
  color: #f0ad4e;
}
body .btn-papers.btn-fixed span,
body .btn-papers:hover span {
  color: #fff;
}
body .btn-sitemaps {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-sitemaps i {
  color: #666;
}
body .btn-sitemaps span {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
body .btn-sitemaps.btn-fixed,
body .btn-sitemaps:hover {
  border: 1px solid #adadad;
}
body .btn-sitemaps.btn-fixed i,
body .btn-sitemaps:hover i {
  color: #d9534f;
}
body .btn-sitemaps.btn-fixed span,
body .btn-sitemaps:hover span {
  color: #333;
}
body .btn-imagemap {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-imagemap i {
  color: #666;
}
body .btn-imagemap span {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
body .btn-imagemap.btn-fixed,
body .btn-imagemap:hover {
  border: 1px solid #adadad;
}
body .btn-imagemap.btn-fixed i,
body .btn-imagemap:hover i {
  color: #5bc0de;
}
body .btn-imagemap.btn-fixed span,
body .btn-imagemap:hover span {
  color: #333;
}
