@import url('https://fonts.googleapis.com/css?family=Oswald|Poiret+One|Muli|Pacifico');
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body .btn-dstyle {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-dstyle i {
  color: #666;
}
body .btn-dstyle span {
  font-family: 'Oswald', sans-serif;
}
body .btn-dstyle.btn-fixed,
body .btn-dstyle:hover {
  border-top: 1px solid #d9534f;
  border-right: 1px dashed #333;
  border-bottom: 1px dashed #333;
  border-left: 1px dashed #333;
}
body .btn-dstyle.btn-fixed i,
body .btn-dstyle:hover i {
  color: #333;
}
body .btn-dstyle.btn-fixed span,
body .btn-dstyle:hover span {
  color: #333;
}
body .btn-papers {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-papers i {
  color: #666;
}
body .btn-papers span {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}
body .btn-papers.btn-fixed,
body .btn-papers:hover {
  background: #333;
  border: 1px solid #adadad;
}
body .btn-papers.btn-fixed i,
body .btn-papers:hover i {
  color: #f0ad4e;
}
body .btn-papers.btn-fixed span,
body .btn-papers:hover span {
  color: #fff;
}
body .btn-sitemaps {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-sitemaps i {
  color: #666;
}
body .btn-sitemaps span {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
body .btn-sitemaps.btn-fixed,
body .btn-sitemaps:hover {
  border: 1px solid #adadad;
}
body .btn-sitemaps.btn-fixed i,
body .btn-sitemaps:hover i {
  color: #d9534f;
}
body .btn-sitemaps.btn-fixed span,
body .btn-sitemaps:hover span {
  color: #333;
}
body .btn-imagemap {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-imagemap i {
  color: #666;
}
body .btn-imagemap span {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
body .btn-imagemap.btn-fixed,
body .btn-imagemap:hover {
  border: 1px solid #adadad;
}
body .btn-imagemap.btn-fixed i,
body .btn-imagemap:hover i {
  color: #5bc0de;
}
body .btn-imagemap.btn-fixed span,
body .btn-imagemap:hover span {
  color: #333;
}
body {
  background: url('../images/bg.png');
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 13px;
  letter-spacing: 0;
}
.row,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
dl {
  margin-top: 20px;
  margin-bottom: 0;
}
dl:first-child {
  margin-top: 0;
}
.progress {
  margin-bottom: 0;
  background-color: #fff;
}
.btn span {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.label {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lazyLoad {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5 url('../images/ajax-loader.gif') no-repeat center center;
}
.lazyError {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5;
}
.lazyLoad > img,
.lazyParent > img {
  display: none;
  width: 100%;
  height: 100%;
}
.secH2 {
  padding-bottom: 20px;
  width: 100%;
  text-transform: uppercase;
}
.secH2 > strong {
  display: inline-block;
  padding-right: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.secH2 > span {
  display: inline-block;
  padding-top: 8px;
  float: right;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 12px;
  color: #666;
}
.dstyleWrap {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  margin: 30px auto 0;
  width: 96%;
  max-width: 1000px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #ffffff;
  background-image: url("../images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
  background-image: url("../images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
  background-image: url("../images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
  background-image: url("../images/overlay.png"), linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
}
.dstyleWrap .stitch {
  box-sizing: border-box;
  width: 100%;
  padding: 0 4%;
  border: 1px dashed #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.dstyleWrap .topLine {
  position: absolute;
  top: 0;
  left: 4%;
  width: 92%;
  height: 10px;
  background: #d9534f;
}
.dstyleWrap .menu {
  position: absolute;
  top: 20px;
  right: 6%;
  z-index: 100;
}
@media print {
  .dstyleWrap .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .dstyleWrap .menu {
    right: 46px;
  }
}
footer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.profileSec {
  padding-top: 50px;
}
.profileSec .photo {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #cccccc;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #FFFFFF;
}
.profileSec .info {
  text-align: center;
}
.profileSec .info * {
  margin: 0;
  padding: 0;
}
.profileSec .info h1 {
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 36px;
}
.profileSec .info p.job {
  padding-top: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
}
.profileSec .info p.desc {
  padding-top: 5px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 13px;
  color: #666666;
}
.profileSec .goto {
  text-align: center;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .profileSec .photo {
    margin: 0;
    width: 120px;
    height: 120px;
  }
  .profileSec .info {
    text-align: left;
  }
  .profileSec .info h1 {
    padding-top: 6px;
    font-size: 44px;
  }
  .profileSec .info p.job {
    font-size: 18px;
  }
  .profileSec .info p.desc {
    font-size: 16px;
  }
  .profileSec .goto {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .profileSec .goto {
    text-align: right;
    padding-top: 85px;
  }
}
.cvSec .informationSec {
  padding-top: 50px;
}
.cvSec .informationSec dl {
  margin: 20px 0 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}
.cvSec .informationSec dl:first-child {
  margin-top: 0;
}
.cvSec .informationSec dt,
.cvSec .informationSec dd {
  padding: 0 0 5px 5px;
  float: left;
}
.cvSec .positionSec {
  padding-top: 50px;
}
@media print {
  .cvSec .positionSec {
    display: none;
  }
}
.cvSec .positionSec dt {
  padding-bottom: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.cvSec .maintainedSec {
  padding-top: 50px;
}
@media print {
  .cvSec .maintainedSec {
    display: none;
  }
}
.cvSec .maintainedSec .mysites {
  position: relative;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
.cvSec .maintainedSec .mysites > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
}
.cvSec .maintainedSec .mysites > div {
  padding-left: 100px;
  height: 70px;
}
.cvSec .maintainedSec .mysites.papers {
  margin-top: 0;
}
@media (min-width: 768px) {
  .cvSec .maintainedSec .mysites.sitemaps {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .cvSec .maintainedSec .mysites.imagemap {
    margin-top: 0;
  }
}
.exSec .experienceSec {
  padding-top: 50px;
}
@media print {
  .exSec .experienceSec {
    margin-top: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.exSec .experienceSec > article ul,
.exSec .experienceSec > article li {
  margin: 0;
  padding: 0;
}
.exSec .experienceSec > article li {
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
.exSec .experienceSec > article li:first-child {
  padding-top: 0;
  border-top: 0;
}
.exSec .experienceSec > article li:last-child {
  padding-bottom: 0;
}
.exSec .experienceSec .workfor {
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.exSec .experienceSec .workfor .labelCover {
  padding-bottom: 10px;
}
.exSec .experienceSec .workfor .label {
  display: inline-block;
  padding: 6px 10px 4px;
  font-size: 14px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  letter-spacing: 0;
}
.exSec .experienceSec .workfor p {
  float: left;
  margin: 0;
  padding: 10px 0 0 0;
  color: #666;
}
.exSec .experienceSec .workfor h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #333;
}
@media (min-width: 480px) {
  .exSec .experienceSec .workfor .labelCover {
    float: right;
  }
}
.exSec .skillsSec {
  padding-top: 50px;
}
.exSec .skillsSec .positionSkills {
  overflow: hidden;
}
.exSec .skillsSec .positionSkills h3 {
  padding-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
@media (min-width: 768px) {
  .exSec .skillsSec .positionSkills h3 {
    padding-left: 35px;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #666;
  }
}
.exSec .skillsSec .skill {
  float: left;
  width: 33%;
  height: 140px;
}
.exSec .skillsSec .skill .chart {
  position: relative;
  margin: 0 auto;
  width: 80px;
}
.exSec .skillsSec .skill .chart > span {
  position: absolute;
  top: 32px;
  left: 27px;
}
.exSec .skillsSec .skill h4 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.exSec .skillsSec .skill h4 span {
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .exSec .skillsSec .skill h4 {
    font-size: 16px;
  }
}
@media print {
  .exSec .skillsSec {
    padding-top: 50px;
  }
  .exSec .skillsSec .col-sm-3 {
    float: left;
    width: 20%;
  }
  .exSec .skillsSec .col-sm-9 {
    float: left;
    width: 80%;
  }
}
.portfolioSec {
  padding-top: 50px;
}
@media print {
  .portfolioSec {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
.portfolioSec .portfolioList {
  margin: 0;
  padding: 0;
}
.portfolioSec .portfolioList > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.portfolioSec .site {
  margin-top: 30px;
  padding: 0 15px;
  border-left: 2px solid #666;
}
@media print {
  .portfolioSec .site {
    margin-top: 10px;
  }
}
.portfolioSec .site dl {
  margin-top: 5px;
  position: relative;
}
.portfolioSec .site dd.link {
  position: absolute;
  top: 0;
  right: 0;
}
.portfolioSec .site dt {
  padding-bottom: 5px;
}
.portfolioSec .site dt strong {
  font-size: 16px;
  letter-spacing: 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #333;
}
@media print {
  .portfolioSec .site dt strong {
    font-size: 13px;
  }
}
.portfolioSec .site .position {
  padding-bottom: 5px;
  color: #666;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.portfolioSec .site.eq0 {
  margin-top: 0;
}
.portfolioSec .site.eq8 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .portfolioSec .site.eq1 {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .portfolioSec .site.eq2 {
    margin-top: 0;
  }
  .portfolioSec .site.eq6,
  .portfolioSec .site.eq7 {
    margin-bottom: 0;
  }
}
.portfolioSec .loadProtfolioDiv {
  padding-top: 20px;
  text-align: right;
}
@media print {
  .portfolioSec .loadProtfolioDiv {
    display: none;
  }
}
.portfolioListSec {
  padding-top: 50px;
}
.portfolioListSec .portfolioList {
  padding: 0 0 20px;
}
.portfolioListSec .portfolioList > li {
  list-style: none;
}
.portfolioListSec .portfolioList > li:first-child .site {
  border-top: 0;
}
@media (min-width: 992px) {
  .portfolioListSec .portfolioList > li:nth-child(2) .site {
    border-top: 0;
  }
  .portfolioListSec .portfolioList > li {
    overflow: hidden;
  }
  .portfolioListSec .portfolioList > li dl {
    float: left;
    width: 60%;
  }
  .portfolioListSec .portfolioList > li .date,
  .portfolioListSec .portfolioList > li .labelDiv {
    float: right;
    width: 40%;
    text-align: right;
  }
  .portfolioListSec .portfolioList > li .labelDiv {
    padding-top: 5px;
  }
}
.portfolioListSec .site {
  padding: 20px 0 10px;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.portfolioListSec .site dl {
  overflow: hidden;
}
.portfolioListSec .site dt {
  display: inline-block;
}
.portfolioListSec .site dt strong {
  font-size: 16px;
  letter-spacing: 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #333;
}
.portfolioListSec .site dd,
.portfolioListSec .site .date {
  color: #666;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 768px) {
  .portfolioListSec .site dl {
    float: left;
    width: 50%;
  }
  .portfolioListSec .site .date {
    float: left;
    padding-top: 20px;
    width: 20%;
    font-size: 16px;
  }
  .portfolioListSec .site .labelDiv {
    float: right;
    padding-top: 23px;
  }
}
.contactSec {
  padding-top: 50px;
}
@media print {
  .contactSec {
    display: none;
  }
}
.contactSec .descList {
  padding-left: 15px;
}
.contactSec .btnSec {
  text-align: right;
}
