@import url('https://fonts.googleapis.com/css?family=Oswald|Poiret+One|Muli|Pacifico');
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body .btn-dstyle {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-dstyle i {
  color: #666;
}
body .btn-dstyle span {
  font-family: 'Oswald', sans-serif;
}
body .btn-dstyle.btn-fixed,
body .btn-dstyle:hover {
  border-top: 1px solid #d9534f;
  border-right: 1px dashed #333;
  border-bottom: 1px dashed #333;
  border-left: 1px dashed #333;
}
body .btn-dstyle.btn-fixed i,
body .btn-dstyle:hover i {
  color: #333;
}
body .btn-dstyle.btn-fixed span,
body .btn-dstyle:hover span {
  color: #333;
}
body .btn-papers {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-papers i {
  color: #666;
}
body .btn-papers span {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}
body .btn-papers.btn-fixed,
body .btn-papers:hover {
  background: #333;
  border: 1px solid #adadad;
}
body .btn-papers.btn-fixed i,
body .btn-papers:hover i {
  color: #f0ad4e;
}
body .btn-papers.btn-fixed span,
body .btn-papers:hover span {
  color: #fff;
}
body .btn-sitemaps {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-sitemaps i {
  color: #666;
}
body .btn-sitemaps span {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
body .btn-sitemaps.btn-fixed,
body .btn-sitemaps:hover {
  border: 1px solid #adadad;
}
body .btn-sitemaps.btn-fixed i,
body .btn-sitemaps:hover i {
  color: #d9534f;
}
body .btn-sitemaps.btn-fixed span,
body .btn-sitemaps:hover span {
  color: #333;
}
body .btn-imagemap {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
}
body .btn-imagemap i {
  color: #666;
}
body .btn-imagemap span {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
body .btn-imagemap.btn-fixed,
body .btn-imagemap:hover {
  border: 1px solid #adadad;
}
body .btn-imagemap.btn-fixed i,
body .btn-imagemap:hover i {
  color: #5bc0de;
}
body .btn-imagemap.btn-fixed span,
body .btn-imagemap:hover span {
  color: #333;
}
body {
  background: url('../images/bg.png');
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 13px;
  letter-spacing: 0;
}
.row,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
dl {
  margin-top: 20px;
  margin-bottom: 0;
}
dl:first-child {
  margin-top: 0;
}
.progress {
  margin-bottom: 0;
  background-color: #fff;
}
.btn span {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.label {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lazyLoad {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5 url('../images/ajax-loader.gif') no-repeat center center;
}
.lazyError {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5;
}
.lazyLoad > img,
.lazyParent > img {
  display: none;
  width: 100%;
  height: 100%;
}
.secH2 {
  padding-bottom: 20px;
  width: 100%;
  text-transform: uppercase;
}
.secH2 > strong {
  display: inline-block;
  padding-right: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.secH2 > span {
  display: inline-block;
  padding-top: 8px;
  float: right;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 12px;
  color: #666;
}
.t_secH2 {
  padding-bottom: 20px;
  width: 100%;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 24px;
}
.t_secH2 strong {
  color: #f0ad4e;
}
aside .secH2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.dstyleWrap {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  margin: 30px auto 0;
  width: 96%;
  max-width: 1000px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #ffffff;
  background-image: url("../images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
  background-image: url("../images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
  background-image: url("../images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
  background-image: url("../images/overlay.png"), linear-gradient(60deg, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.8)), url("../images/paper.png");
}
.dstyleWrap .stitch {
  box-sizing: border-box;
  width: 100%;
  padding: 0 4%;
  border: 1px dashed #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.dstyleWrap .topLine {
  position: absolute;
  top: 0;
  left: 4%;
  width: 92%;
  height: 10px;
  background: #d9534f;
}
.dstyleWrap .menu {
  position: absolute;
  top: 20px;
  right: 6%;
  z-index: 100;
}
@media print {
  .dstyleWrap .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .dstyleWrap .menu {
    right: 46px;
  }
}
footer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.profileSec {
  padding-top: 50px;
}
.profileSec .photo {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #cccccc;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #FFFFFF;
}
.profileSec .info {
  text-align: center;
}
.profileSec .info * {
  margin: 0;
  padding: 0;
}
.profileSec .info h1 {
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 36px;
}
.profileSec .info h1 a {
  color: #333333;
}
.profileSec .info p.job {
  padding-top: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
}
.profileSec .info p.desc {
  padding-top: 5px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 13px;
  color: #666666;
}
.profileSec .goto {
  text-align: center;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .profileSec .photo {
    margin: 0;
    width: 120px;
    height: 120px;
  }
  .profileSec .info {
    text-align: left;
  }
  .profileSec .info h1 {
    padding-top: 6px;
    font-size: 44px;
  }
  .profileSec .info p.job {
    font-size: 18px;
  }
  .profileSec .info p.desc {
    font-size: 16px;
  }
  .profileSec .goto {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .profileSec .goto {
    text-align: right;
    padding-top: 85px;
  }
}
.articleSec {
  padding-top: 50px;
}
.searchListSec ol,
.searchListSec ul,
.searchListSec li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.searchListSec li {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
.searchListSec span.date {
  display: inline-block;
  padding-right: 15px;
  color: #999999;
}
.searchListSec a {
  display: inline-block;
  color: #333333;
}
.searchListSec span.cnt {
  display: inline-block;
  color: #f0ad4e;
}
.pagingSec {
  text-align: right;
}
.pagingSec .pagination {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.pagingSec .pagination li.prev a,
.pagingSec .pagination li.next a {
  color: #f0ad4e;
}
.pagingSec .pagination a {
  color: #666666;
}
.entrySec .titleWrap {
  width: 100%;
  overflow: hidden;
}
.entrySec .tit {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.entrySec .tit .t_secH2 {
  padding-bottom: 10px;
}
.entrySec .opt {
  padding-top: 5px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}
.entrySec .r {
  float: right;
  white-space: nowrap;
}
.entrySec .r a {
  color: #999999;
}
.entrySec .l {
  float: left;
}
.entrySec .article {
  padding: 30px 0;
}
.entrySec .author {
  text-align: right;
  padding-bottom: 5px;
}
.entrySec .tagTrail {
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid #cccccc;
}
aside .asideSec {
  padding-bottom: 20px;
}
aside .categorySec nav * {
  padding: 0;
  margin: 0;
  list-style: none;
}
aside .categorySec a {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
aside .categorySec nav > ul > li > a {
  display: inline-block;
  padding-bottom: 5px;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
}
aside .categorySec nav > ul > li > ul > li {
  padding: 10px 0;
  border-top: 1px dashed #333;
}
aside .categorySec nav > ul > li > ul > li > a {
  color: #333333;
  font-weight: 700;
  padding-left: 5px;
}
aside .categorySec nav > ul > li > ul > li > ul > li > a {
  display: inline-block;
  padding-left: 17px;
  color: #666666;
  font-weight: 400;
}
